@use 'styles/breakpoints' as *;

h1 {
    font-size: 2rem;
    text-align: center;

    @include lg {
        text-align: none;
    }
}

button {
    padding: 20px;
}

.conteiner {
    background-color: aliceblue;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    
    h1 {
        grid-column: span 3;
        
    }
    
    @include lg {
        grid-template-columns: repeat(10, 1fr);
        h1 {
            grid-column: span 2;
        }
        button {
            @include lg {
                grid-column: 10;
            }
        }
        .imgC {
            @include lg {
                grid-column: 9;
            }
        }
    }
}

// @keyframes girar {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }