<header>
    <div class="conteiner">
        <div class="logo">
            <img class="logoImg" ngSrc="/assets/logo-mini.png" alt="Aperos-icon" priority="" [width]="logoWidth" [height]="logoHeight">
            <img class="titleImg" ngSrc="/assets/logo-title.png" alt="Aperos-icon" priority="" [width]="titleWidth" [height]="titleHeight">
        </div>
        <div class="imgC">
            <img src="assets/user-icon.png" alt="User-icon" width="25" class="User-icon" (click)="toggleLogin()">
            <span (click)="toggleLogin()"> {{UserName}} </span>
        </div>
        <button class="barraConteiner">
            <div class="barras"></div>
            <div class="barras"></div>
            <div class="barras"></div>
        </button>
    </div>
</header>
@if (isMenuOpen) {
    <app-menu [adminAcess]="isAdmin"/>
}
@if (isLoggedIn) {
    <app-login (fecharL)="toggleLogin()" />
}
<p></p>
