<header>
    <div class="conteiner">
        <h1>Project-EVE</h1>
        <img src="assets/logo-mini.png" alt="Aperos-icon" width="100" height="100" class="imgLogo">
        <div class="imgC">
            <img src="assets/user-icon.png" alt="User-icon" width="25" class="User-icon" (click)="toggleLogin()">
            <span (click)="toggleLogin()"> {{UserName}} </span>
        </div>
        <button (click)="toggleMenu()" class="MenuBtn">Menu</button>
    </div>
</header>
@if (isMenuOpen) {
    <app-menu [adminAcess]="isAdmin"/>
}
@if (isLoggedIn) {
    <app-login (fecharL)="toggleLogin()" />
}
<p></p>